/* ใช้ Flexbox ในการจัดกลาง */
.background {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    height: 100vh; 
    margin-top: 0; 
}

/* แก้ไขการจัดกลางปุ่ม */
.button_1, .button_2 {
    font-size: 15px;
    background: linear-gradient(90deg, #1C4A43 30%, #3A6574 55%, #2B5468 120%);
    color: #FFFFFF;
    padding: 8px 16px; 
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
    margin: 10px; 
}

/*เมื่อเอาเม้ามาวางบน button*/
.button_1:hover {
    background: linear-gradient(90deg, #028391 20%, #134B70 45%, #1E2A5E 120%);
}

.button_2:hover {
    background: linear-gradient(90deg, #028391 20%, #134B70 45%, #1E2A5E 120%);
}

/* กำหนดตำแหน่งของข้อความและปุ่ม */
.header, .text_1, .text_2 {
    color: #FFFFFF;
    margin: 10px; 
}


.noto-sans-thai-looped-regular {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-thai-looped-semibold {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 600;
    font-style: normal;
}